---
auth_url:
username:
user_domain_name: default
project_name:
project_domain_name: default
password:
region_name:
interface: internal
interval: 20
batch_size: 1

switch_corsa:
  resource_type: switch
  switches:

chassis_moonshot:
  resource_type: node
  batch_size: 40
  ssh_user: Administrator
  ssh_password:
  hostname: localhost
  testing: False
  interval: -60
  write_time_results: False
  node_ids:

chassis_dell:
  resource_type: node
